/* IMPORTS AND STYLE RESETS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Raleway:wght@700&display=swap");

:root {
  font-size: 10px;
  --sans-serif: "Montserrat", Arial, Helavetica, sans-serif;
  --brand: "Raleway", "Times New Roman", Times, serif;

  --black: #000;
  --grey-dark: #333;
  --grey-light1: #828282;
  --grey-light2: #bdbdbd;
  --white: #ffffff;
  --primary: #2f80ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* IMPORTS AND STYLE RESETS END */

/* COMMON STYLES */
body {
  font-family: var(--sans-serif);
  color: var(--grey-dark);
}

ul,
li {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: var(--sans-serif);
  font-weight: 600;
  color: var(--grey-dark);
}

input {
  border: none;
  background: transparent;
}

.container {
  width: 90%;
  max-width: 720px;
  margin: auto;
}
/* COMMON STYLES END */

/* HEADER */
.header {
  width: 100%;
  text-align: center;
  padding: 3.2rem;
}
.header__logo {
  font-family: var(--brand);
  font-size: 3.6rem;
}
/* HEADER END */

/* FILTERS */
.filters {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--grey-light2);
}
.filters__btn {
  width: 30%;
  padding: 1.5rem;
  font-size: 1.4rem;
}
.filters__btn.active {
  border-bottom: 2px solid var(--primary);
}
/* FILTERS END */

/* FORM */
.entry-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
}

.entry-form__input {
  width: 80%;
  border: 1px solid var(--grey-light1);
  border-radius: 14px;
  padding: 2rem;
  font-size: 1.4rem;
}

.entry-form__btn {
  width: 20%;
  background: var(--primary);
  color: var(--white);
  margin-left: 14px;
  border-radius: 14px;
  font-size: 1.4rem;
}
/* FORM END */
